.Bgc\(\$gray8\) {
  background-color: #343a40;
}
.C\(\$red\) {
  color: #dc3545;
}
.C\(white\) {
  color: white;
}
.Lh\(\$6\) {
  line-height: 1.5rem;
}
.Mend\(\$2\) {
  margin-right: 0.5rem;
}
.Mstart\(\$2\) {
  margin-left: 0.5rem;
}
.T\(0\) {
  top: 0;
}
.End\(-1px\) {
  right: -1px;
}
.Pos\(r\) {
  position: relative;
}
.Pos\(st\) {
  position: sticky;
}
.Ta\(c\) {
  text-align: center;
}
.Ta\(end\) {
  text-align: right;
}
@media(min-width:576px) {
  .D\(n\)--sm {
    display: none;
  }
}
@media(min-width:768px) {
  .D\(n\)--md {
    display: none;
  }
}
@media(min-width:576px) {
  .D\(n\)--sm {
    display: none;
  }
}
@media(min-width:768px) {
  .D\(n\)--md {
    display: none;
  }
}
